@import "compass/reset";
@import "compass/css3";

input::-webkit-input-placeholder { /* webkit browsers */
    color:black; padding-left: 20px; font-size: 12px;
}
input::-moz-placeholder { /* mozilla firefox 4 to 18 */
    color:black; padding-left: 20px; font-size: 12px;
}
input::-moz-placeholder { /* mozilla firefox 19+ */
    color:black; padding-left: 20px; font-size: 12px;
}
input::-ms-input-placeholder { /* internet explorer 10+ */
    color:black; padding-left: 20px; font-size: 12px;
}

body {
	font-size: 62.5%;
    font-family: Arial;
}

$header-width : 80px;
$aside-width : 300px;
$middle_padding : 40px;
$middle_height : 1000px;
$bgd_color_blue : #80A8CC;
$bgd_color_grey : white;
$font_color_grey : #D0CBBE;
$name_container_height : 20px;

header {
    position: fixed;
    width: 100%;
    height: $header-width;
    border-bottom: 1px solid grey;
    z-index: 999;

    ul {
        position: absolute;
        height: 100%;
        li {
            float: left;
            box-sizing: border-box;
            width: 70px;
            padding: 18px 5px;
            height: 100%;
            a {
                display: block;
                box-sizing: border-box;
                height: 100%;
                width: 42px;
                margin-left: 8px;
                text-align: center;
                line-height: 42px; 
                font-size: 15px;
                border-radius: 21px;
                border: 1px solid #e6e6e6;
            } 
        }
    }
    li:nth-child(1) a { background-color: $bgd_color_blue; color: white; }
    li:nth-child(1) { border-right: 1px solid #e6e6e6; }

    .header-right-container {
        position: absolute;
        box-sizing: border-box;
        right: 0;
        padding: 18px 10px;
        height: 100%;
        width: 300px;

        .header-image-container {
            float: right;
            height: 44px;
            width: 44px;
            margin-right: 10px;
            background-image: url("../assets/p9.jpg");
            background-size: cover;
            border-radius: 22px;
        }

        form {
            float: right;
            padding-right: 20px;
            height: 44px;
            input {
                float: left;
                box-sizing: border-box;
                height: 44px;
                width: 150px;
                border: 0px;
                padding: 0px;
                margin: 0px;
                border-top-left-radius: 22px;
                border-bottom-left-radius: 22px;
                border-width: 1px 0px 1px 1px;
                border-color: black;
                border-style: solid;
            }

            button {
                float: left;
                box-sizing: border-box;
                height: 44px;
                width: 45px;
                border: 0px;
                padding: 0px;
                margin: 0px;
                border-top-right-radius: 22px;
                border-bottom-right-radius: 22px;
                border-width: 1px 1px 1px 0px;
                border-color: black;
                border-style: solid;
                background-color: white;
            }
        }
    }

    p { text-align: center; line-height : $header-width; font-size: $header-width / 2; color: $bgd_color_blue;}
}

.main {
    position: relative;
    width: 100%;
    top: $header-width;
    background-color: pink;
}

.left_container {
    position: absolute;
    float: left;
    width: $aside-width; 
    top: 0px;
    bottom: 0px;
    background-color: $bgd_color_blue;

    .left_person_container {
        box-sizing: border-box;
        width: 100%;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        .left_image_container {
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            background-image: url("../assets/p4.jpg"); 
            background-size: cover;
            border-radius: 50px;
        } 
        .left_person_name {
            color: white;
            margin-top: 20px;
            margin-bottom: 18px;
            font-size: 20px;
            text-align: center;
        }
        
        .left_person_introduction {
            color: white;
            font-size: 15px;
            text-align: center;
            line-height: 20px;
        }
        
        .left_person_link {
            margin-top: 40px;
            text-align: center;
            font-size: 15px;
            color: white;

            i { margin-right: 5px; }
        }

        button {
            display: block;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 40px;
            border-radius: 25px;
            border-width: 0px;
            font-size: 15px;
            color: white;
            background-color: rgb(109, 149, 182);
        }

        
    }
    ul.images_container {
        width: 100%;
        height: 300px;
        li {
            float: left;
            width: 100px;
            height: 100px;
            background-image: url("../assets/p5.jpg");
            background-size: cover;
        }

        li:nth-child(2n) { background-image: url("../assets/p8.jpg"); }
    }

    .left-activity-container {
        padding: 20px;
        margin-bottom: 20px;
        h2 { font-size: 20px; color: white; margin-bottom: 10px; }
        li { 
            line-height: 20px; 
            font-size: 12px;
            color: rgb(109, 149, 182);
            i { margin-right: 5px; margin-left: 15px; }
            span {  padding-right: 5px;}
            a { color: white; }
        }
    }
}

.middle_container {
    //height: $middle_height;
    margin-left: $aside-width;
    margin-right: $aside-width;
    background-color: #f2eee8;
    padding: $middle_padding;
}

.statistic_container {
    width: 100%;
    li {
        float: left;
        box-sizing: border-box;
        width: 25%;
        height: 80px;
        padding-top: 20px;
        background-color: white;
        p { text-align: center; line-height: 20px; font-size: 12px; }
        p:nth-child(1) { color: $font_color_grey; }
        p:nth-child(2) { font-weight: bold; }
    }

    //li:last-child:after { content: ""; height: 0; visibility: hidden; display: block; clear: left; }

    li:hover {
        border-bottom-width: 5px;
        border-bottom-color: $bgd_color_blue;
        border-bottom-style: solid;
    }

    li:nth-child(1) {
        border-bottom-width: 5px;
        border-bottom-color: $bgd_color_blue;
        border-bottom-style: solid;
    }
}

.content_container {
    margin-top: $middle_padding;
    li {
        padding: 30px;
        background-color: white;
        border-bottom: 1px solid grey;
        .image_container {
            float: left;
            width: 50px;
            height: 50px;
            background-image: url("../assets/p0.jpg");
            background-size: cover;
            border-radius: 25px;
        }

        .item_container {
            margin-left: 60px;
            .name_container {
                width: 100%;
                height: $name_container_height;
                span { float: right; vertical-align: center; line-height: $name_container_height;  color: $font_color_grey;  font-size: 14px; }
                p { padding: 0px; font-size: 18px; color: $font_color_grey; 
                    strong { color: black; }
                }
            }
            p { padding: 10px 0px; font-size: 15px; line-height: 20px; } 
            video { width: 100% }
            .reply_container {
                width: 100%;
                height: 20px;
                
                .expand_container {
                    float: right;
                    height: $name_container_height;
                    width: 16px;

                    a { display: block; padding-top: 2px; font-size: 16px; color: #CCCCCC; }
                }
                ul {
                    li { padding: 0px; border-width: 0px; margin-right: 10px;  float: left; font-size: 16px; height: $name_container_height;
                        a { display: block; float: left; padding-top: 2px; height: $name_container_height; color: #999999; }
                        span { line-height: $name_container_height; color: #CCCCCC; }
                    }
                    
                    li:last-child a {  position: relative; top: -6px; }
                }
            }
        }
    }

    li:nth-child(2) {
        .name_container {
            i { float: left; font-size: 16px; padding-top: 2px; margin-right: 5px; color: blue; }
            p { float: left; }
        }
    }
}

.right_container {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    width: $aside-width;
    background-color: $bgd_color_grey;
}

.trends {
    width: 100%;
    box-sizing: border-box;
    background-color: $bgd_color_grey;
    padding-top: 50px;    
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;

    h2 { font-size: 20px; margin-bottom: 20px; }
    ul { font-size: 15px; line-height: 25px; color: $bgd_color_blue; }
}

.follow {
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    padding-top: 20px;    
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: $bgd_color_grey;

    div { float: right; font-size: 20px; color: $bgd_color_blue; }
    h2 { font-size: 20px; margin-bottom: 20px; }
    
    li {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        .follow_image_container {
            float: left;
            height: 100%;
            width: 40px;
            background-image: url("../assets/p1.jpg");
            background-size: cover;
            border-radius: 20px;
        }

        .follow_person_container {
            float: left;
            height: 100%;
            margin-left: 10px;
            width: 170px;
            font-size: 12px;
            a { float: right; box-sizing: border-box; display: block; height: 20px; line-height: 20px; width: 20px; text-align: center; border: 1px solid #d9d9d9;  color: #999999; }
            p { line-height: 20px;  color: $font_color_grey; }
            p:nth-of-type(1) { color: black; }
        }
    } 

    li:nth-child(1) .follow_image_container { background-image: url("../assets/p2.jpg"); }
    li:nth-child(2) .follow_image_container { background-image: url("../assets/p3.jpg"); }
    li:nth-child(3) .follow_image_container { background-image: url("../assets/p4.jpg"); }
    li:nth-child(4) .follow_image_container { background-image: url("../assets/p5.jpg"); }
    li:nth-child(5) .follow_image_container { background-image: url("../assets/p6.jpg"); }
}


@media screen and (min-width: 800px) {
    header { background-color: $bgd_color_grey; }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    header { background-color: $bgd_color_grey; }
    .main {
        padding-right: 0px;
        background-color: $bgd_color_blue;
    }

    .middle_container {
        margin-right: 0px;
        padding-right: 0px;
    }  
    
    .left_container {
        height: 650px;
    }

    .right_container {
        top: 970px;
        bottom: 0;
        left: 0;
        .trends { display: none; }
        .follow { position: static; }
    }
}

@media screen and (max-width: 500px) {
    header { 
        background-color: $bgd_color_grey; 
        li { display: none; }
        li:first-child { display: inline-block; }

        form {
            display: none;
        }
    }
    .left_container { display: none; }
    .right_container { display: none; }
    .middle_container { margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }

    .statistic_container { 
        li {
            float: none;
            width: 100%;
        }
    }
}
