@import "compass/reset";
@import "compass/css3";

body {
	font-size: 62.5%;
}

$header-width : 50px;
$aside-width : 210px;
$trends-height : 350px;
$middle_padding : 40px;
$middle_height : 1000px;
$bgd_color_blue : #80A8CC;
$bgd_color_grey : #FFFBF5;
$font_color_grey : #D0CBBE;
$name_container_height : 20px;

header {
    position: fixed;
    width: 100%;
    height: $header-width;
    background-color: black; 
    z-index: 999;
}

.main {
    position: relative;
    width: 100%;
    padding-top: $header-width;
    background-color: pink;
}

.left_container {
    position: absolute;
    float: left;
    width: $aside-width; 
    top: 0px;
    bottom: 0px;
    background-color: blue;
}

.middle_container {
    //height: $middle_height;
    margin-left: $aside-width;
    margin-right: $aside-width;
    background-color: #f2eee8;
    padding: $middle_padding;
}

.statistic_container {
    width: 100%;
    li {
        float: left;
        box-sizing: border-box;
        width: 25%;
        height: 80px;
        padding-top: 20px;
        background-color: white;
        p { text-align: center; line-height: 20px; font-size: 12px; }
        p:nth-child(1) { color: $font_color_grey; }
        p:nth-child(2) { font-weight: bold; }
    }

    //li:last-child:after { content: ""; height: 0; visibility: hidden; display: block; clear: left; }

    li:hover {
        border-bottom-width: 5px;
        border-bottom-color: $bgd_color_blue;
        border-bottom-style: solid;
    }

    li:nth-child(1) {
        border-bottom-width: 5px;
        border-bottom-color: $bgd_color_blue;
        border-bottom-style: solid;
    }
}

.content_container {
    margin-top: $middle_padding;
    li {
        padding: 30px;
        background-color: white;
        border-bottom: 1px solid grey;
        .image_container {
            float: left;
            width: 50px;
            height: 50px;
            background-image: url("../assets/p0.jpg");
            background-size: cover;
            border-radius: 25px;
        }

        .item_container {
            margin-left: 60px;
            .name_container {
                width: 100%;
                height: $name_container_height;
                span { float: right; vertical-align: center; line-height: $name_container_height;  color: $font_color_grey;  font-size: 14px; }
                p { padding: 0px; font-size: 18px; color: $font_color_grey; 
                    strong { color: black; }
                }
            }
            p { padding: 10px 0px; font-size: 18px; } 
            video { width: 100% }
            .reply_container {
                width: 100%;
                height: 20px;
                
                .expand_container {
                    float: right;
                    height: $name_container_height;
                    width: 16px;

                    a { display: block; padding-top: 2px; font-size: 16px; color: #CCCCCC; }
                }
                ul {
                    li { padding: 0px; border-width: 0px; margin-right: 10px;  float: left; font-size: 16px; height: $name_container_height;
                        a { display: block; float: left; padding-top: 2px; height: $name_container_height; color: #999999; }
                        span { line-height: $name_container_height; color: #CCCCCC; }
                    }
                    
                    li:last-child a {  position: relative; top: -6px; }
                }
            }
        }
    }

    li:nth-child(2) {
        .name_container {
            i { float: left; font-size: 16px; padding-top: 2px; margin-right: 5px; color: blue; }
            p { float: left; }
        }
    }
}

.right_container {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    width: $aside-width;
    background-color: blue;
}

.trends {
    width: 100%;
    height: $trends-height;
    background-color: yellow;
}

.follow {
    position: absolute;
    width: 100%;
    top: $trends-height; 
    bottom: 0;
    background-color: grey;
}


@media screen and (min-width: 800px) {
    header { background-color: red; }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    header { background-color: yellow; }
    .main {
        padding-right: 0px;
    }

    .middle_container {
        margin-right: 0px;
        padding-right: 0px;
    }  
    
    .left_container {
        height: 600px;
    }

    .right_container {
        top: 600px;
        bottom: 0;
        left: 0;
        .trends { display: none; }
    }
}

@media screen and (max-width: 500px) {
    header { background-color: blue; }
    .left_container { display: none; }
    .right_container { display: none; }
    .middle_container { margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }

    .statistic_container { 
        li {
            float: none;
            width: 100%;
        }
    }
}
