/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
input::-webkit-input-placeholder {
  /* webkit browsers */
  color: black;
  padding-left: 20px;
  font-size: 12px;
}

/* line 7, ../sass/style.scss */
input::-moz-placeholder {
  /* mozilla firefox 4 to 18 */
  color: black;
  padding-left: 20px;
  font-size: 12px;
}

/* line 10, ../sass/style.scss */
input::-moz-placeholder {
  /* mozilla firefox 19+ */
  color: black;
  padding-left: 20px;
  font-size: 12px;
}

/* line 13, ../sass/style.scss */
input::-ms-input-placeholder {
  /* internet explorer 10+ */
  color: black;
  padding-left: 20px;
  font-size: 12px;
}

/* line 17, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: Arial;
}

/* line 31, ../sass/style.scss */
header {
  position: fixed;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  z-index: 999;
}
/* line 38, ../sass/style.scss */
header ul {
  position: absolute;
  height: 100%;
}
/* line 41, ../sass/style.scss */
header ul li {
  float: left;
  box-sizing: border-box;
  width: 50px;
  margin-left: 20px;
  padding: 10px;
  height: 100%;
}
/* line 48, ../sass/style.scss */
header ul li a {
  display: block;
  height: 100%;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid grey;
}
/* line 60, ../sass/style.scss */
header li:nth-child(1) a {
  background-color: #80A8CC;
  color: white;
}
/* line 61, ../sass/style.scss */
header li:nth-child(1) {
  border-right: 1px solid grey;
}
/* line 63, ../sass/style.scss */
header .header-right-container {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  padding: 10px;
  height: 100%;
  width: 300px;
}
/* line 71, ../sass/style.scss */
header .header-right-container .header-image-container {
  float: right;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-image: url("../assets/p9.jpg");
  background-size: cover;
  border-radius: 15px;
}
/* line 81, ../sass/style.scss */
header .header-right-container form {
  float: right;
  padding-right: 20px;
  height: 30px;
}
/* line 85, ../sass/style.scss */
header .header-right-container form input {
  float: left;
  box-sizing: border-box;
  height: 30px;
  width: 150px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-width: 1px 0px 1px 1px;
  border-color: black;
  border-style: solid;
}
/* line 100, ../sass/style.scss */
header .header-right-container form button {
  float: left;
  box-sizing: border-box;
  height: 30px;
  width: 45px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  border-style: solid;
  background-color: white;
}
/* line 118, ../sass/style.scss */
header p {
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #80A8CC;
}

/* line 121, ../sass/style.scss */
.main {
  position: relative;
  width: 100%;
  top: 50px;
  background-color: pink;
}

/* line 128, ../sass/style.scss */
.left_container {
  position: absolute;
  float: left;
  width: 300px;
  top: 0px;
  bottom: 0px;
  background-color: #80A8CC;
}
/* line 136, ../sass/style.scss */
.left_container .left_person_container {
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
/* line 143, ../sass/style.scss */
.left_container .left_person_container .left_image_container {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/p4.jpg");
  background-size: cover;
  border-radius: 50px;
}
/* line 152, ../sass/style.scss */
.left_container .left_person_container .left_person_name {
  color: white;
  margin-top: 20px;
  margin-bottom: 18px;
  font-size: 20px;
  text-align: center;
}
/* line 160, ../sass/style.scss */
.left_container .left_person_container .left_person_introduction {
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}
/* line 167, ../sass/style.scss */
.left_container .left_person_container .left_person_link {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  color: white;
}
/* line 173, ../sass/style.scss */
.left_container .left_person_container .left_person_link i {
  margin-right: 5px;
}
/* line 176, ../sass/style.scss */
.left_container .left_person_container button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border-width: 0px;
  font-size: 20px;
  color: white;
}
/* line 191, ../sass/style.scss */
.left_container ul.images_container {
  width: 100%;
  height: 300px;
}
/* line 194, ../sass/style.scss */
.left_container ul.images_container li {
  float: left;
  width: 100px;
  height: 100px;
  background-image: url("../assets/p5.jpg");
  background-size: cover;
}
/* line 202, ../sass/style.scss */
.left_container ul.images_container li:nth-child(2n) {
  background-image: url("../assets/p8.jpg");
}
/* line 205, ../sass/style.scss */
.left_container .left-activity-container {
  padding: 20px;
}
/* line 207, ../sass/style.scss */
.left_container .left-activity-container h2 {
  font-size: 20px;
  color: white;
}
/* line 208, ../sass/style.scss */
.left_container .left-activity-container li {
  line-height: 20px;
}
/* line 210, ../sass/style.scss */
.left_container .left-activity-container li i {
  margin-right: 5px;
}
/* line 211, ../sass/style.scss */
.left_container .left-activity-container li span {
  color: #6D95D6;
  padding-right: 5px;
}
/* line 212, ../sass/style.scss */
.left_container .left-activity-container li a {
  color: white;
}

/* line 217, ../sass/style.scss */
.middle_container {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #f2eee8;
  padding: 40px;
}

/* line 225, ../sass/style.scss */
.statistic_container {
  width: 100%;
}
/* line 227, ../sass/style.scss */
.statistic_container li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 80px;
  padding-top: 20px;
  background-color: white;
}
/* line 234, ../sass/style.scss */
.statistic_container li p {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
/* line 235, ../sass/style.scss */
.statistic_container li p:nth-child(1) {
  color: #D0CBBE;
}
/* line 236, ../sass/style.scss */
.statistic_container li p:nth-child(2) {
  font-weight: bold;
}
/* line 241, ../sass/style.scss */
.statistic_container li:hover {
  border-bottom-width: 5px;
  border-bottom-color: #80A8CC;
  border-bottom-style: solid;
}
/* line 247, ../sass/style.scss */
.statistic_container li:nth-child(1) {
  border-bottom-width: 5px;
  border-bottom-color: #80A8CC;
  border-bottom-style: solid;
}

/* line 254, ../sass/style.scss */
.content_container {
  margin-top: 40px;
}
/* line 256, ../sass/style.scss */
.content_container li {
  padding: 30px;
  background-color: white;
  border-bottom: 1px solid grey;
}
/* line 260, ../sass/style.scss */
.content_container li .image_container {
  float: left;
  width: 50px;
  height: 50px;
  background-image: url("../assets/p0.jpg");
  background-size: cover;
  border-radius: 25px;
}
/* line 269, ../sass/style.scss */
.content_container li .item_container {
  margin-left: 60px;
}
/* line 271, ../sass/style.scss */
.content_container li .item_container .name_container {
  width: 100%;
  height: 20px;
}
/* line 274, ../sass/style.scss */
.content_container li .item_container .name_container span {
  float: right;
  vertical-align: center;
  line-height: 20px;
  color: #D0CBBE;
  font-size: 14px;
}
/* line 275, ../sass/style.scss */
.content_container li .item_container .name_container p {
  padding: 0px;
  font-size: 18px;
  color: #D0CBBE;
}
/* line 276, ../sass/style.scss */
.content_container li .item_container .name_container p strong {
  color: black;
}
/* line 279, ../sass/style.scss */
.content_container li .item_container p {
  padding: 10px 0px;
  font-size: 18px;
}
/* line 280, ../sass/style.scss */
.content_container li .item_container video {
  width: 100%;
}
/* line 281, ../sass/style.scss */
.content_container li .item_container .reply_container {
  width: 100%;
  height: 20px;
}
/* line 285, ../sass/style.scss */
.content_container li .item_container .reply_container .expand_container {
  float: right;
  height: 20px;
  width: 16px;
}
/* line 290, ../sass/style.scss */
.content_container li .item_container .reply_container .expand_container a {
  display: block;
  padding-top: 2px;
  font-size: 16px;
  color: #CCCCCC;
}
/* line 293, ../sass/style.scss */
.content_container li .item_container .reply_container ul li {
  padding: 0px;
  border-width: 0px;
  margin-right: 10px;
  float: left;
  font-size: 16px;
  height: 20px;
}
/* line 294, ../sass/style.scss */
.content_container li .item_container .reply_container ul li a {
  display: block;
  float: left;
  padding-top: 2px;
  height: 20px;
  color: #999999;
}
/* line 295, ../sass/style.scss */
.content_container li .item_container .reply_container ul li span {
  line-height: 20px;
  color: #CCCCCC;
}
/* line 298, ../sass/style.scss */
.content_container li .item_container .reply_container ul li:last-child a {
  position: relative;
  top: -6px;
}
/* line 306, ../sass/style.scss */
.content_container li:nth-child(2) .name_container i {
  float: left;
  font-size: 16px;
  padding-top: 2px;
  margin-right: 5px;
  color: blue;
}
/* line 307, ../sass/style.scss */
.content_container li:nth-child(2) .name_container p {
  float: left;
}

/* line 312, ../sass/style.scss */
.right_container {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #FFFBF5;
}

/* line 322, ../sass/style.scss */
.trends {
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFBF5;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
/* line 331, ../sass/style.scss */
.trends h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 332, ../sass/style.scss */
.trends ul {
  font-size: 18px;
  line-height: 20px;
  color: #80A8CC;
}

/* line 335, ../sass/style.scss */
.follow {
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #FFFBF5;
}
/* line 345, ../sass/style.scss */
.follow div {
  float: right;
  font-size: 20px;
  color: #80A8CC;
}
/* line 346, ../sass/style.scss */
.follow h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 348, ../sass/style.scss */
.follow li {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
/* line 352, ../sass/style.scss */
.follow li .follow_image_container {
  float: left;
  height: 100%;
  width: 40px;
  background-image: url("../assets/p1.jpg");
  background-size: cover;
  border-radius: 20px;
}
/* line 361, ../sass/style.scss */
.follow li .follow_person_container {
  float: left;
  height: 100%;
  margin-left: 10px;
  width: 170px;
  font-size: 12px;
}
/* line 367, ../sass/style.scss */
.follow li .follow_person_container a {
  float: right;
  box-sizing: border-box;
  display: block;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border: 1px solid black;
  color: black;
}
/* line 368, ../sass/style.scss */
.follow li .follow_person_container p {
  line-height: 20px;
  color: #D0CBBE;
}
/* line 369, ../sass/style.scss */
.follow li .follow_person_container p:nth-of-type(1) {
  color: black;
}

@media screen and (min-width: 800px) {
  /* line 376, ../sass/style.scss */
  header {
    background-color: #FFFBF5;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 380, ../sass/style.scss */
  header {
    background-color: #FFFBF5;
  }

  /* line 381, ../sass/style.scss */
  .main {
    padding-right: 0px;
    background-color: #80A8CC;
  }

  /* line 386, ../sass/style.scss */
  .middle_container {
    margin-right: 0px;
    padding-right: 0px;
  }

  /* line 391, ../sass/style.scss */
  .left_container {
    height: 650px;
  }

  /* line 395, ../sass/style.scss */
  .right_container {
    top: 950px;
    bottom: 0;
    left: 0;
  }
  /* line 399, ../sass/style.scss */
  .right_container .trends {
    display: none;
  }
  /* line 400, ../sass/style.scss */
  .right_container .follow {
    position: static;
  }
}
@media screen and (max-width: 500px) {
  /* line 405, ../sass/style.scss */
  header {
    background-color: #FFFBF5;
  }
  /* line 407, ../sass/style.scss */
  header li {
    display: none;
  }
  /* line 408, ../sass/style.scss */
  header li:first-child {
    display: inline-block;
  }
  /* line 410, ../sass/style.scss */
  header form {
    display: none;
  }

  /* line 414, ../sass/style.scss */
  .left_container {
    display: none;
  }

  /* line 415, ../sass/style.scss */
  .right_container {
    display: none;
  }

  /* line 416, ../sass/style.scss */
  .middle_container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 419, ../sass/style.scss */
  .statistic_container li {
    float: none;
    width: 100%;
  }
}
