/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 18, ../sass/style.scss */
header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 999;
}

/* line 26, ../sass/style.scss */
.main {
  position: relative;
  width: 100%;
  padding-top: 50px;
  background-color: pink;
}

/* line 33, ../sass/style.scss */
.left_container {
  position: absolute;
  float: left;
  width: 210px;
  top: 0px;
  bottom: 0px;
  background-color: blue;
}

/* line 42, ../sass/style.scss */
.middle_container {
  margin-left: 210px;
  margin-right: 210px;
  background-color: #f2eee8;
  padding: 40px;
}

/* line 50, ../sass/style.scss */
.statistic_container {
  width: 100%;
}
/* line 52, ../sass/style.scss */
.statistic_container li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 80px;
  padding-top: 20px;
  background-color: white;
}
/* line 59, ../sass/style.scss */
.statistic_container li p {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
/* line 60, ../sass/style.scss */
.statistic_container li p:nth-child(1) {
  color: #D0CBBE;
}
/* line 61, ../sass/style.scss */
.statistic_container li p:nth-child(2) {
  font-weight: bold;
}
/* line 66, ../sass/style.scss */
.statistic_container li:hover {
  border-bottom-width: 5px;
  border-bottom-color: #80A8CC;
  border-bottom-style: solid;
}
/* line 72, ../sass/style.scss */
.statistic_container li:nth-child(1) {
  border-bottom-width: 5px;
  border-bottom-color: #80A8CC;
  border-bottom-style: solid;
}

/* line 79, ../sass/style.scss */
.content_container {
  margin-top: 40px;
}
/* line 81, ../sass/style.scss */
.content_container li {
  padding: 30px;
  background-color: white;
  border-bottom: 1px solid grey;
}
/* line 85, ../sass/style.scss */
.content_container li .image_container {
  float: left;
  width: 50px;
  height: 50px;
  background-image: url("../assets/p0.jpg");
  background-size: cover;
  border-radius: 25px;
}
/* line 94, ../sass/style.scss */
.content_container li .item_container {
  margin-left: 60px;
}
/* line 96, ../sass/style.scss */
.content_container li .item_container .name_container {
  width: 100%;
  height: 20px;
}
/* line 99, ../sass/style.scss */
.content_container li .item_container .name_container span {
  float: right;
  vertical-align: center;
  line-height: 20px;
  color: #D0CBBE;
  font-size: 14px;
}
/* line 100, ../sass/style.scss */
.content_container li .item_container .name_container p {
  padding: 0px;
  font-size: 18px;
  color: #D0CBBE;
}
/* line 101, ../sass/style.scss */
.content_container li .item_container .name_container p strong {
  color: black;
}
/* line 104, ../sass/style.scss */
.content_container li .item_container p {
  padding: 10px 0px;
  font-size: 18px;
}
/* line 105, ../sass/style.scss */
.content_container li .item_container video {
  width: 100%;
}
/* line 106, ../sass/style.scss */
.content_container li .item_container .reply_container {
  width: 100%;
  height: 20px;
}
/* line 110, ../sass/style.scss */
.content_container li .item_container .reply_container .expand_container {
  float: right;
  height: 20px;
  width: 16px;
}
/* line 115, ../sass/style.scss */
.content_container li .item_container .reply_container .expand_container a {
  display: block;
  padding-top: 2px;
  font-size: 16px;
  color: #CCCCCC;
}
/* line 118, ../sass/style.scss */
.content_container li .item_container .reply_container ul li {
  padding: 0px;
  border-width: 0px;
  margin-right: 10px;
  float: left;
  font-size: 16px;
  height: 20px;
}
/* line 119, ../sass/style.scss */
.content_container li .item_container .reply_container ul li a {
  display: block;
  float: left;
  padding-top: 2px;
  height: 20px;
  color: #999999;
}
/* line 120, ../sass/style.scss */
.content_container li .item_container .reply_container ul li span {
  line-height: 20px;
  color: #CCCCCC;
}
/* line 123, ../sass/style.scss */
.content_container li .item_container .reply_container ul li:last-child a {
  position: relative;
  top: -6px;
}
/* line 131, ../sass/style.scss */
.content_container li:nth-child(2) .name_container i {
  float: left;
  font-size: 16px;
  padding-top: 2px;
  margin-right: 5px;
  color: blue;
}
/* line 132, ../sass/style.scss */
.content_container li:nth-child(2) .name_container p {
  float: left;
}

/* line 137, ../sass/style.scss */
.right_container {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  width: 210px;
  background-color: blue;
}

/* line 147, ../sass/style.scss */
.trends {
  width: 100%;
  height: 350px;
  background-color: yellow;
}

/* line 153, ../sass/style.scss */
.follow {
  position: absolute;
  width: 100%;
  top: 350px;
  bottom: 0;
  background-color: grey;
}

@media screen and (min-width: 800px) {
  /* line 163, ../sass/style.scss */
  header {
    background-color: red;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 167, ../sass/style.scss */
  header {
    background-color: yellow;
  }

  /* line 168, ../sass/style.scss */
  .main {
    padding-right: 0px;
  }

  /* line 172, ../sass/style.scss */
  .middle_container {
    margin-right: 0px;
    padding-right: 0px;
  }

  /* line 177, ../sass/style.scss */
  .left_container {
    height: 600px;
  }

  /* line 181, ../sass/style.scss */
  .right_container {
    top: 600px;
    bottom: 0;
    left: 0;
  }
  /* line 185, ../sass/style.scss */
  .right_container .trends {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* line 190, ../sass/style.scss */
  header {
    background-color: blue;
  }

  /* line 191, ../sass/style.scss */
  .left_container {
    display: none;
  }

  /* line 192, ../sass/style.scss */
  .right_container {
    display: none;
  }

  /* line 193, ../sass/style.scss */
  .middle_container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 196, ../sass/style.scss */
  .statistic_container li {
    float: none;
    width: 100%;
  }
}
