/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 18, ../sass/style.scss */
header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 999;
}
/* line 25, ../sass/style.scss */
header p {
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #80A8CC;
}

/* line 28, ../sass/style.scss */
.main {
  position: relative;
  width: 100%;
  top: 50px;
  background-color: pink;
}

/* line 35, ../sass/style.scss */
.left_container {
  position: absolute;
  float: left;
  width: 300px;
  top: 0px;
  bottom: 0px;
  background-color: blue;
}

/* line 44, ../sass/style.scss */
.middle_container {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #f2eee8;
  padding: 40px;
}

/* line 52, ../sass/style.scss */
.statistic_container {
  width: 100%;
}
/* line 54, ../sass/style.scss */
.statistic_container li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 80px;
  padding-top: 20px;
  background-color: white;
}
/* line 61, ../sass/style.scss */
.statistic_container li p {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
/* line 62, ../sass/style.scss */
.statistic_container li p:nth-child(1) {
  color: #D0CBBE;
}
/* line 63, ../sass/style.scss */
.statistic_container li p:nth-child(2) {
  font-weight: bold;
}
/* line 68, ../sass/style.scss */
.statistic_container li:hover {
  border-bottom-width: 5px;
  border-bottom-color: #80A8CC;
  border-bottom-style: solid;
}
/* line 74, ../sass/style.scss */
.statistic_container li:nth-child(1) {
  border-bottom-width: 5px;
  border-bottom-color: #80A8CC;
  border-bottom-style: solid;
}

/* line 81, ../sass/style.scss */
.content_container {
  margin-top: 40px;
}
/* line 83, ../sass/style.scss */
.content_container li {
  padding: 30px;
  background-color: white;
  border-bottom: 1px solid grey;
}
/* line 87, ../sass/style.scss */
.content_container li .image_container {
  float: left;
  width: 50px;
  height: 50px;
  background-image: url("../assets/p0.jpg");
  background-size: cover;
  border-radius: 25px;
}
/* line 96, ../sass/style.scss */
.content_container li .item_container {
  margin-left: 60px;
}
/* line 98, ../sass/style.scss */
.content_container li .item_container .name_container {
  width: 100%;
  height: 20px;
}
/* line 101, ../sass/style.scss */
.content_container li .item_container .name_container span {
  float: right;
  vertical-align: center;
  line-height: 20px;
  color: #D0CBBE;
  font-size: 14px;
}
/* line 102, ../sass/style.scss */
.content_container li .item_container .name_container p {
  padding: 0px;
  font-size: 18px;
  color: #D0CBBE;
}
/* line 103, ../sass/style.scss */
.content_container li .item_container .name_container p strong {
  color: black;
}
/* line 106, ../sass/style.scss */
.content_container li .item_container p {
  padding: 10px 0px;
  font-size: 18px;
}
/* line 107, ../sass/style.scss */
.content_container li .item_container video {
  width: 100%;
}
/* line 108, ../sass/style.scss */
.content_container li .item_container .reply_container {
  width: 100%;
  height: 20px;
}
/* line 112, ../sass/style.scss */
.content_container li .item_container .reply_container .expand_container {
  float: right;
  height: 20px;
  width: 16px;
}
/* line 117, ../sass/style.scss */
.content_container li .item_container .reply_container .expand_container a {
  display: block;
  padding-top: 2px;
  font-size: 16px;
  color: #CCCCCC;
}
/* line 120, ../sass/style.scss */
.content_container li .item_container .reply_container ul li {
  padding: 0px;
  border-width: 0px;
  margin-right: 10px;
  float: left;
  font-size: 16px;
  height: 20px;
}
/* line 121, ../sass/style.scss */
.content_container li .item_container .reply_container ul li a {
  display: block;
  float: left;
  padding-top: 2px;
  height: 20px;
  color: #999999;
}
/* line 122, ../sass/style.scss */
.content_container li .item_container .reply_container ul li span {
  line-height: 20px;
  color: #CCCCCC;
}
/* line 125, ../sass/style.scss */
.content_container li .item_container .reply_container ul li:last-child a {
  position: relative;
  top: -6px;
}
/* line 133, ../sass/style.scss */
.content_container li:nth-child(2) .name_container i {
  float: left;
  font-size: 16px;
  padding-top: 2px;
  margin-right: 5px;
  color: blue;
}
/* line 134, ../sass/style.scss */
.content_container li:nth-child(2) .name_container p {
  float: left;
}

/* line 139, ../sass/style.scss */
.right_container {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: blue;
}

/* line 149, ../sass/style.scss */
.trends {
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  background-color: #FFFBF5;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 158, ../sass/style.scss */
.trends h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 159, ../sass/style.scss */
.trends ul {
  font-size: 18px;
  line-height: 20px;
  color: #80A8CC;
}

/* line 162, ../sass/style.scss */
.follow {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 350px;
  bottom: 0;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FFFBF5;
}
/* line 173, ../sass/style.scss */
.follow div {
  float: right;
  font-size: 20px;
  color: #80A8CC;
}
/* line 174, ../sass/style.scss */
.follow h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 176, ../sass/style.scss */
.follow li {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}
/* line 180, ../sass/style.scss */
.follow li .follow_image_container {
  float: left;
  height: 100%;
  width: 60px;
  background-image: url("../assets/p1.jpg");
  background-size: cover;
  border-radius: 30px;
}
/* line 189, ../sass/style.scss */
.follow li .follow_person_container {
  float: left;
  height: 100%;
  margin-left: 10px;
  width: 170px;
  font-size: 15px;
}
/* line 195, ../sass/style.scss */
.follow li .follow_person_container a {
  float: right;
  box-sizing: border-box;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid black;
  color: black;
}
/* line 196, ../sass/style.scss */
.follow li .follow_person_container p {
  line-height: 30px;
  color: #D0CBBE;
}
/* line 197, ../sass/style.scss */
.follow li .follow_person_container p:nth-of-type(1) {
  color: black;
}

@media screen and (min-width: 800px) {
  /* line 204, ../sass/style.scss */
  header {
    background-color: red;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 208, ../sass/style.scss */
  header {
    background-color: yellow;
  }

  /* line 209, ../sass/style.scss */
  .main {
    padding-right: 0px;
  }

  /* line 213, ../sass/style.scss */
  .middle_container {
    margin-right: 0px;
    padding-right: 0px;
  }

  /* line 218, ../sass/style.scss */
  .left_container {
    height: 450px;
  }

  /* line 222, ../sass/style.scss */
  .right_container {
    top: 450px;
    bottom: 0;
    left: 0;
  }
  /* line 226, ../sass/style.scss */
  .right_container .trends {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* line 231, ../sass/style.scss */
  header {
    background-color: blue;
  }

  /* line 232, ../sass/style.scss */
  .left_container {
    display: none;
  }

  /* line 233, ../sass/style.scss */
  .right_container {
    display: none;
  }

  /* line 234, ../sass/style.scss */
  .middle_container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 237, ../sass/style.scss */
  .statistic_container li {
    float: none;
    width: 100%;
  }
}
